form input{
    display: flex;
    width: 50%;
    margin: 10px auto;
    height: 40px;
}

.formHeading {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}
.buttons {
   display: flex;
   margin: 0 0 0 25%;
}

.buttons button {
    border-radius: 5px;
    height: 40px;
    width: 10%;
}
button[type='submit'] {
    background-color: rgb(170, 212, 170);
    color: antiquewhite;
    font-size: larger;
    font-weight: bolder;
}
button[type='button'] {
    background-color: rgb(230, 69, 69);
    color: antiquewhite;
    font-size: larger;
    font-weight: bolder;
}
